body{
  background-color: rgb(8, 216, 206);
}
.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}
.bs-example{
    margin: 20px;
}
p.normal {
    font-style: normal;
  }
  
  p.italic {
    font-style: italic;
  }
  
  p.oblique {
    font-style: oblique;
  }

  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  .navbar{
    background-color:rgb(0, 69, 78);
  }
  .masthead{
    background-color: rgb(8, 216, 206);
  }
  .card{
    color: black;
    margin-left: 20px;
  }
  .hobi{
    margin-top: 60px;
  }
  .h1{
    color:rgb(0, 69, 78);
  }
  .h3{
    color:rgb(0, 69, 78);
  }
  